//colors
$white: rgb(255, 253, 253);
$black: #020202;
$btn: rgb(76, 139, 210);

//size
$xs: 5px;
$s: 10px;
$m: 15px;
$l: 30px;
$xl: 50px;
$xxl: 100px;
$xxxl: 150px;

//font-size
$small: 16px;
$standart: 18px;
$large: 26px;
