@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;

  &-link {
    text-decoration: none;
    font-size: 20px;
    color: rgb(247, 250, 251);
    &:hover {
      color: rgb(72, 206, 230);
      cursor: pointer;
      transform: scale(1.03);
      transition: all 0.5s;
      font-size: 21px;
    }
  }

  &-item {
    @include blur;
    width: 280px;
    height: 190px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.section-item:last-child {
  margin-right: 0;
}
